body {
    font-family: Arial, sans-serif;
}

#titrep, #soustexte, a, h2, #accueil {
    text-align: center;
}

#soustexte, span, ul {
    font-style: italic;
}

#bordure {
    position: relative;
    border: 10px solid #2f2e2e;
}

#titrep {
    font-size: 2rem;
    font-weight: bold;
    text-decoration-line: underline;
    margin-top: 5%;
}

#soustexte {
    margin-top: 3%;
}

table {
    border: 1px solid black;
    width: 98%;
    margin-top: 5%;
    margin-left: 1%;
    margin-bottom: 3%;
}

tbody th {
    border: 1px solid black;
    width: 20%;
    text-align: left;
    padding-left: 2%;
    line-height: 3rem;
}

.défi, td {
    width: 80%;
}

thead th {
    border: 1px solid black;
    line-height: 3rem;
}

td {
    padding-left: 2%;
}

a {
    text-decoration-line: none;
    color: black;
}

#accueil {
    margin-bottom: 3%;
}

span {
    font-weight: bold;
}

h2 {
    margin-top: 7%;
    font-size: 3rem;
    text-decoration-line: underline;
}

ul {
    margin-top: 5%;
    margin-left: 10%;
    line-height: 3rem;
}

#gauche {
    position: absolute;
    width: 50%;
    left: 0;
}
#droite {
    position: relative;
    width: 49%;
    left: 50%;
    margin-bottom: 20%;
    margin-top: 4.8%;
}

